:root {
  --dark-slate-srey: hsl(234, 29%, 20%);
  --charcoal-grey: hsl(235, 18%, 26%);
  --grey: hsl(231, 7%, 60%);
  --white: hsl(0, 0%, 100%);
  --tomato: hsl(4, 100%, 67%);
}
* {
  box-sizing: border-box;
}
body {
  background-color: var(--charcoal-grey);
  align-items: center;
  font-family: "Roboto", sans-serif;
  justify-content: center;
  min-height: 100vh;
  display: flex;
}
.container-1 {
  display: flex;
  width: 800px;
  background-color: var(--white);
  padding: 40px;
  border-radius: 1rem;
}
.main {
  width: 60%;
}
h1 {
  font-size: 50px;
}
ul {
  list-style: none;

  /* width: 30px; */
}
li {
  margin-bottom: 10px;
}

#mail {
  margin: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
  padding-right: 8rem;
}
.left {
  width: 40%;
}
.left img {
  width: 100%;
}
form {
  display: flex;
  flex-direction: column;
  width: 300px;
}
label {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: small;
  margin-bottom: 4px;
}
input {
  padding: 10px 20px;
  font-family: inherit;
  border-radius: 5px;
  outline: none;
  border: 1px solid hsl(231, 7%, 60%);
}
button {
  font-family: inherit;
  margin-top: 20px;
  padding: 15px 20px;
  border: none;
  outline: none;
  color: var(--white);
  background-color: var(--tomato);
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: var(--grey);
}
.hide {
  display: none;
}
.container-2 {
  background-color: var(--white);
  width: 400px;
  padding: 40px;
  border-radius: 7px;
}
.container h1 {
  font-size: 40px;
  font-weight: 700;
}
.icon-2 {
  width: 50px;
}
.container-2 button {
  width: 100%;
}
@media (max-width: 768px) {
  .container-1 {
    flex-direction: column-reverse;
    width: 95%;
    padding: 0;
  }
  body {
    padding: 0;
    margin: 0;
  }
  .container h1 {
    font-size: 30px;
  }
  .main {
    width: 100%;
    padding: 20px;
  }
  .left {
    width: 100%;
  }
  .left img {
    content: url("assets/images/illustration-sign-up-mobile.svg");
  }
  form {
    width: 90%;
  }
  .container-2 {
    min-height: 100vh;
  }
}
